body{
  margin: 10px;
  /* background: linear-gradient(to bottom, #003464 0%,#05b4d3 100%); */
  color: white;
  background-color: #0095b3;
opacity: 1;
background-image: radial-gradient(circle at center center, #d2f8ff, #0095b3), repeating-radial-gradient(circle at center center, #d2f8ff, #d2f8ff, 40px, transparent 80px, transparent 40px);
background-blend-mode: multiply;
overflow:visible;
font-family: 'Courier New', Courier, monospace;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.input-text{
  border-radius: 6px;
  border: 1px solid transparent;
  border-color: #dbdbdb;
  -webkit-appearance: none;
  max-width: 100%;
  width: 80%;
  font-size: 1rem;
  line-height: 1.5;
  padding: 4px;
  resize: none;
}

.input-text-login{
  border-radius: 6px;
  border: 1px solid transparent;
  border-color: #dbdbdb;
  -webkit-appearance: none;
  max-width: 100%;
  width: 40%;
  font-size: 1rem;
  line-height: 1.5;
  padding: 4px;
  resize: none;
}




